/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 		62.5%;
}
body {
  font-size: 		1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 		1.6;
  font-weight: 		400;
  font-family: 		"Readex Pro", "Readex Pro", "Readex Pro", "Readex Pro", "Readex Pro", "Readex Pro";
  color: 			#FFFFFF;
  flex-wrap: 		wrap;
}

/**
 * Links
 */
a {
  font-weight: 		normal;
  text-decoration: 	none; 
  color:			#FFAAAA;
}
a:focus {
  outline: 			thin dotted;
}

small {
  font-size:		75%;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 		1;
  text-rendering: 	optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  margin-top: 		0;
  margin-bottom: 	2rem;
  font-weight:		300;
}
h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }

/**
 * Paragraphs
 */
p {
  margin: 			0 auto 1.5em auto; /* bottom margin for paragraphs */
}
p + p {

}

/**
 * Quotes & Blockquotes
 */
q {
  quotes: 			'\00201C' '\00201D';
}
q:before {
  content: 			open-quote;
}
q:after {
  content: 			close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 		2px solid #AFC0D2;
  margin: 			1.6em 10%;
  padding: 			.75em 1em;
  font-size:		1.8rem;
}
blockquote p:last-child {
  margin-bottom: 	0;  
}

/**
 * Layout styles
 */

/* Full size background image */
html, #container, .inner { background-color:transparent;}
html {
  background:		url(./assets/background.png) center center no-repeat fixed;
  background-size:	cover;
  flex-wrap: 		wrap;
}
body {
  max-width:		800px;
  margin:			25px auto;
  flex-wrap: 		wrap;
  scrollbar-width: none;
}

#content{ 
  backdrop-filter: 	blur(25px);
  border-style:		solid;
  border-color:		rgba(0, 0, 0, .25);
  padding:			25px;
  color:			#FFFFFF;
  flex-wrap: 		wrap; 
  border-radius: 	32px;
}

/* Menu Links */
ul.main-menu {
  margin: 			0;
  padding:			0;
  display: 			flex;
  flex-wrap: 		wrap;
  justify-content: 	left;
  list-style: 		none;
}
ul.main-menu li a {
  margin-right:		20px;
  font-size:		2.0rem;
  border: 			solid transparent 2px;
  padding:			2px;
  color:			#FFAAAA;
}
ul.main-menu li a:hover {
  color:			#FFFFFF;
}
ul.main-menu li a.active {
  color:			#FFFFFF;
  border-color:		#FFAAAA;
  border-radius: 	4px;
}

/* Utility classes */
.hide {
  display:			none;
}
.show {
  display:			block;
  flex-wrap: 		wrap;
}

div {
	flex-wrap: 		wrap;
}

ul {
	list-style-type: circle;
}

button { 
  border-style:		solid;
  border-color:		rgba(0, 0, 0, .25);
  padding:			16px;
  color:			#FFFFFF;
  background:		rgba(0, 0, 0, .25);
  flex-wrap: 		wrap; 
  border-radius: 	32px;
  width:			100%;
}

input { 
  border-style:		solid;
  border-color:		rgba(0, 0, 0, .25);
  padding:			16px;
  color:			#FFFFFF;
  background:		rgba(0, 0, 0, .25);
  flex-wrap: 		wrap; 
  border-radius: 	32px;
  width:			256px;
}

h2.consign {
	text-align: 	center;
	height:			48px;
}

.element::-webkit-scrollbar {
      display: none;
    }

a.rainbow-text {
    animation: anim-rainbow 10s infinite;
}

@keyframes anim-rainbow {
    0% {
        color: hsla(0deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(0deg 100% 50%));
    }
    16.67% {
        color: hsla(60deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(60deg 100% 50%));
    }
    33.33% {
        color: hsla(120deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(120deg 100% 50%));
    }
    50% {
        color: hsla(180deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(180deg 100% 50%));
    }
    66.67% {
        color: hsla(240deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(240deg 100% 50%));
    }
    83.33% {
        color: hsla(300deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(300deg 100% 50%));
    }
    100% {
        color: hsla(360deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(360deg 100% 50%));
    }
}

div.iconlist {
	display: flex;
	align-items: center;
}

span.social {
	padding-left: 8px;
}

#blogpost { 
  backdrop-filter: 	blur(25px);
  background-color: rgba(0, 0, 0, .25);
  border-style:		solid;
  border-color:		rgba(0, 0, 0, .25);
  padding:			25px;
  color:			#FFFFFF;
  flex-wrap: 		wrap; 
  border-radius: 	32px;
}

div.blogpost2 {
	display: flex;
	align-content: left;
}

img.blogpost3 {
	border-radius: 16px;
}

p.blogpost4 {
	mask-image: linear-gradient(to bottom, black 0%, transparent 95%);
}